@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-radius: 12px;
  --logo-color: #5D5D6D;
  --bg-secondary: #F3F5F6;
  --bg-primary: #F0F0F5;
  --text-dark: #737380;
  --shapes-dark: #09090A;
  --text-dark-2: #41414D;
  --delete-color: #DE3838;
  --orange-low: #FFA585;
  --shapes: #DCE2E6;
  --secondary-text: #617480;
  --border-color: #A8A8B3;
  --success-color: #51B853;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 padding: 0;
}
